/* Iconos */
.button-row {
  display: flex;
  height: 64px;
  justify-content: flex-end;
  margin-left: 8px; /* Espacio entre el texto y el icono */
  width: 100%;
}

/* Tabla */

/* Cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Espaciado entre tarjetas */
}

.card {
  flex: 1 1 calc(33% - 16px); /* 33% del ancho menos el espaciado */
  max-width: calc(33% - 16px); /* Asegurar que no exceda el 33% */
  box-sizing: border-box;
  cursor: pointer;
}

.card img {
  max-width: 100%;
  height: auto;
}
