.table__row {
  color: #ffbd00; /* Color inicial */
  transition: color 0.5s ease-out; /* Transición de color */
}

.table__row:hover {
  background-color: #ffeeda !important; /* Fondo resaltado */
  cursor: pointer;
}

.table__row > td {
  padding: 8px; /* Espaciado interior de las celdas */
  border-bottom: 10px solid #dee2e6; /* Línea de separación inferior más gruesa */
}

.mat-mdc-row {
  border-bottom: 1px solid #dee2e6; /* Línea de separación entre filas en gris suave */
  margin-bottom: 12px;
}
