.table {
  margin-top: 20px;
  width: 100%; /* Ancho completo de la tabla */
  border-collapse: collapse; /* Colapsar bordes */

  thead {
    background-color: #f8f9fa; /* Fondo gris muy clarito para la cabecera */
  }

  thead th {
    background-color: #f8f9fa; /* Fondo gris muy clarito para la cabecera */
    color: #333; /* Color del texto */
    text-align: left; /* Alineación del texto a la izquierda */
    padding: 8px; /* Espaciado interior */
    border-bottom: 2px solid #dee2e6; /* Línea de separación inferior más gruesa */
  }

  tbody tr:hover {
    background-color: #ffeeda; /* Fondo gris claro al pasar el ratón por encima */
    cursor: pointer;
  }

  tbody td {
    padding: 8px; /* Espaciado interior de las celdas */
    border-bottom: 10px solid #dee2e6; /* Línea de separación inferior más gruesa */
  }
}

.table > thead th {
  background-color: #f8f9fa; /* Fondo gris muy clarito para la cabecera */
  color: #333; /* Color del texto */
  text-align: left; /* Alineación del texto a la izquierda */
  padding: 8px; /* Espaciado interior */
  border-bottom: 2px solid #dee2e6; /* Línea de separación inferior más gruesa */
}

.mat-mdc-row {
  border-bottom: 1px solid #dee2e6; /* Línea de separación entre filas en gris suave */
  margin-bottom: 12px;
}
